*{
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}
p{
  margin: 1em 1em;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  height: 2em;
  text-align: center;
}
ul{
  padding-inline-start: 0;
}
ul li{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 20em;
  background-color: blue;
  margin-bottom: 1em;
  border-radius: 0.75em;
}
input[type="radio"]{
  display: none;
}
ul label{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: white;
}

span{
  transform: rotate(90deg);
  font-size: 11pt;
}

.content{
  line-height: 0.5em;
  max-height: 0;
  overflow: hidden;
  border-radius: 0 0 0.75em 0.75em;
  transition: max-height 0.5s;
}

input[type="radio"]:checked + .content{
  max-height: 5em;
}

/*Somehow make this so that also when the radio is clicked the span
also rotates, probably easier to do with JS which'll be my next thingy :3*/

/*input[type="radio"]:checked + span{
  transform: rotate(90deg);
}*/