/* Set-up */

:root{
    --light-blue: rgb(89, 89, 218);
    --dark-blue: rgb(76, 76, 184);
    --blue-contrast: rgb(255, 255, 255);

    /* Text & Button Colors */
    --text: rgb(0, 0, 0);
    --text-second: rgb(255, 255, 255);

    --light-grey: rgb(169, 169, 169);
    --grey: rgb(112, 112, 112);
    --dark-grey: rgb(101, 101, 101);
    --shiny: rgb(168, 217, 7);
}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

/* General Specifications */

h1, h2, h3, h4, h5, h6, p, button, li, a, cite, span{
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul{
    margin: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
    color: var(--text);
}

a, button, .golden-button :hover{
    cursor: pointer;
}

img{
    object-fit: cover;
}

hr{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: none;
    margin-inline-end: none;
    border-style: solid;
}

#solid-short{
    border: 1px solid var(--light-blue);
    width: 50vh;
}

.fa-star{
    color: var(--light-blue);
}

/* Quick Info Nav */

#quick-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    background-color: var(--light-blue);
}

#quick-info h2{
    color: var(--blue-contrast);
    font-size: 0.75rem;
}

#icons{
    display: flex;
    align-items: center;
    margin-right: 2.5vh;
}

#icons li ::before{
    margin: 0 1vh;
    color: var(--blue-contrast);
}

.fa{
    font-size: 1.25rem;
}

/* Main Navigation Bar */

nav{
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    align-items: center;
    padding: 2vh 0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#primary-nav li{
    margin: 0 1vh;
}

#primary-nav li a{
    font-size: 0.8rem;
    font-weight: 700;
    transition: color 0.25s;
}

#primary-nav li a:hover{
    color: var(--light-blue);
}

#logo{
    height: 10vh;
    width: auto;
    justify-self: center; /*Doesn't justify when using nav > *{display:flex; justify-content: center;}*/
}

.golden-button{
    display: flex;
    border: 0.125rem solid var(--light-grey);
    border-radius: 0.7vh;
    color: var(--grey);
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
    padding: 1vh 2vh;
    margin: 0 1vh;
    transition: border-color 0.25s,
    color 0.25s;
}

.golden-button:hover{
    border-color: var(--shiny);
    color: var(--shiny);
}

#solid-nav-button{
    display: flex;
    justify-self: center;
    padding: 0.75vh 2vh;
    background-color: var(--light-blue);
    color: var(--blue-contrast);
    border: 0.25vh solid var(--light-blue);
    border-radius: 0.15rem;
    font-size: 0.9rem;
    transition: background-color 0.4s,
    color 0.4s;
}

#solid-nav-button:hover{
    background-color: var(--blue-contrast);
    color: var(--light-blue);
}

/* Main & Its Sections */

main{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

#main > section{
    height: fit-content;
    width: 100%;
}

#main-hero{
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url(images/office1.jpg);
    background-size: cover;
    height: 70vh;
}

#main-hero > div{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 45vh;
    background-color: rgba(24, 23, 23, 0.5);
    padding: 5vh;
    margin-left: 10vw;
}

#main-hero h4{
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    color: var(--text-second);
}

#main-hero h2{
    color: var(--text-second);
}

#learn-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    width: 17vh;
    background-color: var(--light-blue);
    color: var(--blue-contrast);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
}
/*Add box shadow and a bit of color change to the #learn-more-btn later*/

/*Quick Appointment Booking Section*/

#appointment-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

#appointment-booking h2{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--dark-blue);
}

#appointment-booking p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    color: var(--dark-grey);
}

#appointment-booking a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 4vh;
    border-radius: 0.5vh;
    background-color: var(--dark-blue);
    color: var(--blue-contrast);
}

/* About Us */

#about-us{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us > *{
    margin: 0 2.5vh;
}

#about-us article{
    display: flex;
    flex-direction: column;
}

#about-us article > *{
    margin: 1vh 0;
}

#about-us img{
    height: 45vh;
    width: auto;
    border-radius: 0.5vh;
}

#about-us h2{
    color: var(--dark-blue);
    font-size: 2.5rem;
}

#about-us p{
    font-size: 0.9rem;
    width: 50vh;
}

#about-us a{
    /*Tried using padding but it wouldn't 'work'*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width: 20vh;
    border-radius: 0.5vh;
    background-color: var(--dark-blue);
    color: var(--blue-contrast);
    margin-bottom: 5vh;
}

/* Review Carousel Section */

#review-carousel, .carousel-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#review-carousel h4{
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-bottom: 1vh;
}

#review-carousel hr{
    border: 1px solid var(--light-blue);
    width: 50vh;
}

.carousel-card{
    margin-top: 4vh;
}

.carousel-card img{
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    margin-bottom: 2.5vh;
}

.carousel-card p{
    text-align: center;
    color: var(--grey);
    width: 50%;
    margin-bottom: 1vh;
}

.carousel-card cite{
    font-weight: 700;
    margin-bottom: 2.5vh;
}

.star-rating{
    margin-bottom: 1vh;
}

/*Counter & Controls for Testimonials*/

#review-carousel > button{
    position: absolute;
    align-items: center;
    border: none;
}

#left-btn{
    left: 0;
    margin-left: 20%;
}

#right-btn{
    right: 0;
    margin-right: 20%;
}

#counter-wrap{
    display: flex;
    width: 20px;
    line-height: 20px;
    overflow: hidden;
    vertical-align: top;
}

#counter-wrap ul{
    transform: translatex(0px)
}

#counter, #counter-wrap ul{
    display: flex;
}

#counter-wrap li{
    width: 20px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
}

/*Snippets Section*/

#snippets{
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    background-color: yellow;
}

#snippets h2{
    display: flex;
    align-self: center;
}

#snippets-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

#snippets-grid > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 2.5vh;
    padding: 5vh;
}

#snippets-grid img{
    height: auto;
    width: 10vh;
}