/* Set-up */

:root{
    --quick-info: rgb(89, 89, 218);
    --quick-info-contrast: rgb(255, 255, 255);
}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

ul{
    margin: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}

/* General Specifications */

h1, h2, h3, h4, h5, h6, p, button, li{
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
}

/* Quick Info Nav */

#quick-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    background-color: var(--quick-info);
}

#quick-info h2{
    color: var(--quick-info-contrast);
    font-size: 0.75rem;
}

#icons{
    display: flex;
    align-items: center;
    margin-right: 2.5vh;
}

#icons li ::before{
    margin: 0 1vh;
    color: var(--quick-info-contrast);
}

.fa{
    font-size: 1.25rem;
}

/* Main Navigation Bar */

nav{
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
}

#primary-nav li{
    margin: 0 1vh;
}

#logo{
    height: 15vh;
    width: auto;
    object-fit: cover;
    justify-self: center; /*Doesn't justify when using nav > *{display:flex; justify-content: center;}*/
}