:root{
    --background-color: rgb(189, 188, 188);
    --background-color-2: rgb(222, 218, 218);
    --text-color: black;
    --accent-color: #a9a9a9;
    --accent-color-contrast: #918181;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

h1, h2, p{
    margin: 0;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--text-color);
}

button:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
    height: 15vh;
    width: 70vh;
    align-content: center;
    justify-content: center;
}

#tab-container{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 130vh;
    margin-top: 5vh;
    align-content: center;
    justify-content: space-between;
}

#tab-container > img{
    height: 40vh;
    width: 50vh;
    border-radius: 2vh;
}

#description-container{
    background-color: var(--background-color-2);
    width: 50vh;
    border-radius: 2vh;
}

#description-container > div{
    display: flex;
    border-radius: 2vh 0;
}

#description-container > div > button{
    margin: 0;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.025rem;
    background-color: var(--accent-color);
    padding: 2vh 1vh 2vh 1vh;
    border-width: 0;
    width: 100%;
    transition: background-color 0.15s;
}

#description-container > div > button:hover{
    background-color: var(--accent-color-contrast);
}

#description-container h2, p{
    margin: 2vh 0 0 2vh;
}