/**{outline: 3px solid #00ff2a52}*/

/*Important bits*/
html, body{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #43dfda;
}

/*General customizations*/

button{
    font-weight: bolder;
    font-size: 13pt;
}

button, p, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    cursor: pointer;
}
p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h1{
    color: coral;
    letter-spacing: 3px;
    margin-block-start: 0.2em;
    margin-block-end: 0.67em;
}
hr.rounded{
    border: 1px solid rgb(88, 69, 69);
    border-radius: 10px;
}
/*Everything above the menu*/

#first{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#filters{
    display: flex;
    width: 35rem;
    justify-content: space-between;
}

#filters > button{
    border-radius: 10px;
    padding: 5px;
    width: 8rem;
    transition: transform 0.2s,
    background-color 0.3s,
    border-color 2s,
    color 0.3s;
}

#filters > button:hover{
    transform: scale(1.1);
}

.regular{
    color: lightcoral;
    border-color: lightcoral;
}

.inverted{
    background-color: coral;
    color: white;
    border-color: white;
}

/*Menu Item Customization*/

body > div{
    margin-top: 0.8em;
}

#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70em;
    height: 20em;
    align-items: center;
    justify-content: space-evenly;
}

.item{
    display: grid;
    grid-template-areas: "image description";
    grid-template-columns: 1fr 1fr;
    width: 32em;
    height: 50%;
    margin-top: 1em;
    margin-left: 0.5em;
    border-radius: 1em;
    background-color: lightcoral;
    transition: transform 0.25s;
}

.item:hover{
    transform: scale(1.05)
}

.item > img{
    width: 13em;
    height: 8em;
    align-self: center;
    justify-self: center;
    border-radius: 1em;
}

.info{
    width: 15em;
}

.name{
    color: rgb(57, 75, 81);
    letter-spacing: 2px;
    font-weight: bolder;
}

.price{
    font-weight: bold;
    font-size: 8pt;
    color: rgb(250, 250, 135);
}